body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  font-family: "Arial";
}

.board {
  height: 450px;
  width: 400px;
  background-color: rgb(157, 177, 241);
  border: 3px solid black;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.rack {
  background-color: rgb(5, 14, 45);
  border: 20px solid black;
}

.header {
  display: flex;
  justify-content: center;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reset {
  margin-top: 5px;
  height: 20px;
  border-radius: 8px;
}

.msg {
  text-align: center;
  margin-top: 5px;
}

.row {
  display: flex;
  flex-direction: row;
  height: 50px;
  margin: 6px 0px;
}

.box {
  height: 50px;
  width: 50px;
  background-color: white;
  border: 2px solid black;
  text-align: center;
  vertical-align: middle;
  font-size: 35px;
  border-radius: 25px;
  margin: 0px 2px;
}
